<footer class="footer">
  <div class="container footer-grid">
    <div>
      <h3>Rubah Warna</h3>
      <p>Jasa pengecatan untuk rumah, kantor, dan komersial</p>
    </div>
    <div>
      <h4>Alamat</h4>
      <p><i class="fa-solid fa-location-dot" style="color: rgb(203, 73, 73);"></i> Cabakan, Sengon, Prambanan, Klaten
      </p>
    </div>
    <div>
      <h4>Follow</h4>
      <p><i class="fa-brands fa-instagram" style="color: rgb(198, 73, 73);"></i>@rubahwarna</p>
      <p><i class="fa-brands fa-facebook" style="color: rgb(116, 192, 252);"></i>@rubahwarna</p>
      <p><i class="fa-brands fa-tiktok" style="color: rgb(136, 141, 146);"></i>@rubahwarna</p>
      <p><i class="fa-brands fa-youtube" style="color: rgb(223, 76, 76);"></i>rubahwarna</p>

    </div>
  </div>
  <p class="copyright">&copy; 2026 Rubah Warna. All rights reserved.</p>
</footer>